<main>
  <app-graph [trashColor1]="channel1.trashColor" [trashColor2]="channel2.trashColor"></app-graph>
  <div class="circle1">{{selectedTime}}</div>
  <ng-container *ngIf="!isFinished">
    <div class="triangle1">{{channel1.transferSpeed}}</div>
    <div class="triangle2">{{channel2.transferSpeed}}</div>
    <div *ngIf="channel1.time <= 10"
         class="square1">{{channel1.time | number: '.0-2'}}</div>
    <div *ngIf="channel2.time <=10"
         class="square2">{{channel2.time | number: '.0-2'}}</div>
  </ng-container>
  <div class="trash1" [style.color]="channel1.trashColor">{{channel1.trashWaste | percent}}</div>
  <div class="trash2" [style.color]="channel2.trashColor">{{channel2.trashWaste | percent}}</div>
</main>

<aside>
  <mat-form-field appearance="fill" class="selected-val">
    <mat-label>Pocket Time</mat-label>
    <mat-select [(ngModel)]="selectedTime" name="selectedTime" [disabled]="isStarted">
      <mat-option *ngFor="let packet of packets" [value]="packet">
        {{packet}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button
          color="primary"
          (click)="onStartClick()"
          [disabled]="isStarted"
  >START
  </button>
</aside>
